.conteudo{
    background-color: #fff5fb;
}
.container-lg{
    min-height: 67vh;
}
.input-padrao{
    border: 1px solid #000;
    border-radius: 5px;
    height: 38.7px;
    width: 380px;
    padding: 10px;
}
.text-comum{
    text-decoration: none;
    color: #1B0814;
}